html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background: #fafbfc;
  font-family: "Roboto", sans-serif;
}

#root {
  height: 100%;
}

@keyframes loading {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(150px, 0);
    background-color: #14e214;
    width: 25px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
