html,
body {
  padding: 0px;
  margin: 0px;
  background: #fafbfc;
  font-family: Arial;
}

@keyframes loading {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(150px, 0);
    background-color: #14e214;
    width: 25px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
